# ID do Cliente da sua aplicação Cora (obtido no painel de desenvolvedor).
# O valor 'app-teste-docs' é um exemplo da documentação e pode ser usado para testes iniciais.
NEXT_PUBLIC_CORA_CLIENT_ID=app-teste-docs

# Segredo do Cliente da sua aplicação Cora.
# NUNCA compartilhe este valor ou o coloque em código visível no navegador.
CORA_CLIENT_SECRET=
