rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // ATENÇÃO: Esta regra permite que qualquer usuário autenticado leia e escreva em qualquer lugar.
    // Isso é inseguro para produção, mas útil para contornar problemas de permissão durante o desenvolvimento.
    match /{allPaths=**} {
      allow read, write: if request.auth != null;
    }
  }
}
