@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-body), sans-serif;
}

@layer base {
  :root {
    --background: 140 50% 96%;
    --foreground: 200 30% 15%;
    --card: 140 10% 90%;
    --card-foreground: 200 30% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 200 30% 15%;
    --primary: 140 40% 50%;
    --primary-foreground: 30 30% 98%;
    --secondary: 140 10% 90%;
    --secondary-foreground: 200 30% 10%;
    --muted: 140 10% 90%;
    --muted-foreground: 200 30% 40%;
    --accent: 140 40% 50%;
    --accent-foreground: 30 30% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 140 10% 85%;
    --input: 140 10% 85%;
    --ring: 140 40% 50%;
    --chart-1: 140 40% 50%;
    --chart-2: 140 60% 40%;
    --chart-3: 140 80% 30%;
    --chart-4: 140 30% 60%;
    --chart-5: 140 50% 70%;
    --radius: 0.5rem;
    --sidebar-background: 200 30% 15%;
    --sidebar-foreground: 30 30% 95%;
    --sidebar-primary: 140 40% 75%;
    --sidebar-primary-foreground: 200 30% 10%;
    --sidebar-accent: 200 30% 25%;
    --sidebar-accent-foreground: 30 30% 95%;
    --sidebar-border: 200 30% 25%;
    --sidebar-ring: 140 40% 75%;
  }
  .dark {
    --background: 200 30% 10%;
    --foreground: 30 30% 95%;
    --card: 200 30% 15%;
    --card-foreground: 30 30% 95%;
    --popover: 200 30% 10%;
    --popover-foreground: 30 30% 95%;
    --primary: 140 40% 75%;
    --primary-foreground: 200 30% 10%;
    --secondary: 200 30% 20%;
    --secondary-foreground: 30 30% 95%;
    --muted: 200 30% 20%;
    --muted-foreground: 30 30% 80%;
    --accent: 140 40% 75%;
    --accent-foreground: 200 30% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 200 30% 20%;
    --input: 200 30% 20%;
    --ring: 140 40% 75%;
    --chart-1: 140 40% 75%;
    --chart-2: 140 60% 60%;
    --chart-3: 140 80% 50%;
    --chart-4: 140 30% 85%;
    --chart-5: 140 50% 70%;
    --sidebar-background: 200 30% 12%;
    --sidebar-foreground: 30 30% 95%;
    --sidebar-primary: 140 40% 75%;
    --sidebar-primary-foreground: 200 30% 10%;
    --sidebar-accent: 200 30% 22%;
    --sidebar-accent-foreground: 30 30% 95%;
    --sidebar-border: 200 30% 22%;
    --sidebar-ring: 140 40% 75%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
